.card-form-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* border: 1px solid rgb(143, 11, 33); */
}

.card-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 500px;
  /* border: 1px solid black; */
}

.exp-cvc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid red; */
}

.exp-cvc-labels {
  display: flex;
  width: 100%;
  /* border: 1px solid green; */
}

.cvc-label {
  /* border: 1px solid blue; */
  width: 48%;
}

.exp-label {
  /* border: 1px solid blue; */
  width: 52%;
}

.exp-input {
  width: 60px;
  /* border: 1px solid yellow; */
}

.card-input {
  width: 96%;
  /* border: 1px solid purple; */
}

.confirm-button {
  width: 100%;
  margin-top: 10px;
  background-color: hsl(278, 68%, 11%);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 0px;
}

label {
  margin-bottom: 10px;
  letter-spacing: 2.5px;
  font-size: 12px;
  color: hsl(278, 68%, 20%);
}

input {
  /* margin-bottom: 30px; */
  padding: 7px;
  border-radius: 5px;
  border: 1px solid hsl(270, 3%, 87%);
  letter-spacing: 0.5px;
}

input:focus {
  border-image: linear-gradient(
    to right,
    hsl(249, 99%, 64%),
    hsl(278, 94%, 30%)
  );
  border-image-slice: 1;
  outline: none;
  border-radius: 5px;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

input::placeholder {
  color: hsl(270, 3%, 87%);
}

.alert-name, .alert-number, .alert-expiry{
  color: hsl(0, 100%, 66%);
  visibility: hidden;
  margin: 5px 0px 10px 0px;
  font-size: 1rem;
}

.alert-name.active, .alert-number.active, .alert-expiry.active {
  visibility: visible;
}
