

.background {
    height: 100vh;
    width: 40%;
    position: relative;
}

.card-front {
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    left: 400px;
}

.card-back {
    position: absolute;
    top: 70%;
    transform: translateY(-70%);
    left: 500px;
}