.grid-container {
  border: 2px solid red;
  height: 100vh;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 20px repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
  overflow: clip;
}

.bg-gradient {
  background-image: url("src/assets/images/bg-main-desktop.png");
  background-repeat: no-repeat;
  object-fit: cover;
  grid-row: 1 / 3;
  grid-column: 1 / 4;
}

.card-front {
  background-image: url("src/assets/images/bg-card-front.png");
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  width: 447px;
  height: 245px;
  align-self: end;
}

.card-back {
  background-image: url("src/assets/images/bg-card-back.png");
  grid-column: 3 / 6;
  grid-row: 2 / 3;
  width: 447px;
  height: 245px;
}

/* 

.border-box{
 
    width: 50%;
}

.background {
    height: 100vh;
    width: 80%;
    position: relative;
    margin: 0 auto;
    padding: 0;
}

.card-front {
    position: absolute;
    top: 25%;
    transform: translateY(-25%);
    left: 400px;
    background-image: url('src/assets/images/bg-card-front.png');
    height: 300px;
    width: 500px;
    background-repeat: no-repeat;
}

.card-back {
    position: absolute;
    top: 72%;
    transform: translateY(-72%);
    left: 500px;
    background-image: url('src/assets/images/bg-card-back.png');
    height: 300px;
    width: 500px;
    background-repeat: no-repeat;
}

.white-ball {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 20%;
    left: 15%;
    transform: translate(-50%, -50%);

}

.hollow-ball {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
} */
