
body {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
    height: 100vh;
    margin: 0;
    font-size: 18px;

}

input, button {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
}