.form-complete-container {
    display: flex;
    justify-content: center;
}

.form-complete {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 500;
    color: hsl(278, 21%, 58%);
}

.confirm-button {
    width: 300px;
}

.thanks {
    font-weight: 400;
    margin-bottom: 0;
    color: hsl(278, 68%, 20%);
}